
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    padding: 8px;
    margin: 0%;
}

h1 {
    color:rgb(241, 209, 22);
    font-size: 40px;
}

h2 {
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 150px;
    color: white;
    font-size: 28px;
}

h3 {
    color:#86af49;
    font-size: 35px; 
}

h4 {
    font-size: 35px;
    color: white;
}

h5 {
    font-size: 15px;
}

p {
    color:#517e7e; 
    font-size: 18px;
}

.Sarow {
    color: #618685;
}

.Menu {
  top: 0;
  left: 0;
  display:flex;
  position: relative;
  align-items:stretch;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  list-style-type: none;
}

nav {
    padding: 15px;
    background-image: url(./Assets/Surf\ Report.jpeg)
}

a {
  color: white; 
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
}

a:hover {
    color:rgb(241, 209, 22) ;
}

#About {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    margin-top: 20px;
}

#headshot {
    width: 300px;
    height: 400px;
}

#AboutImg {
    float: left;
}

#About p {
    max-width: 600px;
    min-width: 100px;
}

#Work {
    margin-left: 75px;
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
}

.Portfolio-row-1 {
    display: flex;
    flex-direction: row;
}

.cloudReport {
    margin-top: 10px;
    height: 300px;
    width: 1000px;
    border: 5px solid #86af49;
    background-image: url(./Assets/Surf\ Report.jpeg);
    background-position: center;
}

#cloudLabel {
    padding: 5px;
    background-color: #86af49;
    width: 240px;
    height: 53px;
    margin-top: 10px;
    margin-left: 30px;
}

#cloudLabel:hover {
    font-size: 45px;
    width: 315px;
    height: auto;
}
  
.Portfolio-row-2 {
    display: flex;
    flex-direction: row;
}

.community {
    border: 5px solid #86af49;
    margin-right: 5px;
    background-image: url(./Assets/HoF.jpg);
    height: 300px;
    width: 500px;
    background-size: cover;
}
#communityLabel {
    padding: 5px;
    background-color: #86af49;
    width: 245px;
    height: 43px;
    margin-top: 215px;
    margin-left: 20px;
    font-size: 25px;
}

#communityLabel:hover {
    font-size: 35px;
    width: 345px;
    height: auto;
}

.lightArt{
    border: 5px solid #86af49;
    background-image: url(./Assets/LED\ wall.jpeg);
    height: 300px;
    width: 500px;
    background-size: cover;
}

#artLabel {
    padding: 5px;
    background-color: #86af49;
    width: 120px;
    height: 43px;
    margin-top: 215px;
    margin-left: 20px;
    font-size: 25px;
}

#artLabel:hover {
    font-size: 35px;
    width: 165px;
    height: auto;
}

#Contact {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.contactText {
    padding: 5px;
    font-size: 18px;
    margin-top: 0%;
}

.contactButton {
    padding: 8px;
    background-color: rgb(241, 209, 22);
    border: none;
    color: white;
    font-size: 18px;
}
footer {
    display: flex;
    margin-top: 30px;
    margin-left: 400px;
    align-items: center;
}

